/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*Google Fonts*/
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*body*/
body {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
  background-size: cover;
}

header {
  height: 10vh;
}
/*navbar*/
.title-name {
  font-size: 2.5rem;
  color: orange;
  text-decoration: none;
  animation-name: title;
  animation-duration: 3s;
}

@keyframes title {
  from {color: orange;}
  to {color: white;}
}

.logo {
  margin: 0 0.5rem 1rem;
}

.navbar-nav {
  margin-bottom: 1rem;
}

#active, .cardFooter .btn {
  background-color: orange;
  color: black;
  border-radius: 5px;
}

#active:hover, .cardFooter .btn:hover {
  background-color: bisque;
  color: black;
  border-radius: 5px;
}

.navbar-nav a:hover {
  background-color: bisque;
  color: black;
  border-radius: 5px;
}

/*main*/
main {
  height: 85vh;
}

.wellcome {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}

.wellcome-text {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

/*search*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 0;
}

.search-field input {
  border-radius: 5px;
  background-color: antiquewhite;
}

#form-search-bttn {
  background: none;
  border: none;
  color: white;
}

/*cards*/
.cards-container {
    margin: 2rem;
}

.card {
    width: 20rem;
    height: 35rem;
    margin: 0.3rem 0;
    display: flex;
    background: none;
    border: none;
    color: orange;
    font-weight: bolder;
}

.card > img {
    width: 100%;
    height: 70%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: -5px -5px 5px orange;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*no results message*/

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results > img {
  width: 45%;
  opacity: 0.9;
}

.no-results > h2 {
  font-size: x-large;
  color: white;
}

/* card details page */
.card-details {
    width: 95vw;
    display: flex;
    justify-content: space-around;
}

.card-img {
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
}

.img-details {
    width: 90%;
}

.card-title-details {
  align-self: center;
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: xx-large;
}

.card-body-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
}

.card-body-details > h3 {
  align-self: center;
  font-weight: bolder;
  margin-top: 1rem;
}

footer {
  height: 5vh;
  background-color: black;
}

.social {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.social a {
  margin-top: 0.35rem;
    text-decoration: none;
    color: white;
}

.fa-facebook {
  animation-name: an-facebook;
  animation-duration: 3s;
}

@keyframes an-facebook {
  from {color: white;}
  to {color: blue;}
}

.fa-instagram {
  animation-name: an-instagram;
  animation-duration: 3s;
}

@keyframes an-instagram {
  from {color: white;}
  to {color: salmon;}
}

.fa-x-twitter {
  animation-name: an-twitter;
  animation-duration: 3s;
}

@keyframes an-twitter {
  from {color: white;}
  to {color: cyan;}
}

.fa-instagram:hover {
    color: salmon;
}

.fa-instagram:hover {
    color: salmon;
}

.fa-facebook:hover {
    color:blue;
}

.fa-x-twitter:hover {
    color: cyan;
}

/*contact page*/
/*formulary*/
form {
  margin: 15px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.formulary input {
  width: 30%;
  height: 2rem;
  margin: 5px 0;
  border-radius: 5px;
  background-color: antiquewhite;
}

.formulary label {
  margin-top: 2rem;
  font-size: larger;
}

.contact-form-title {
  margin-top: 1rem;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  color: orange;
}

.message-label {
  color: orange;
}

textarea {
  width: 35%;
  height: 8rem;
  border-radius: 5px;
  background-color: antiquewhite;
}

.formulary button {  
  margin-top: 15px;
  width: 5rem;
  height: 2rem;
  font-weight: bolder;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
}

.formulary button:hover {
  background-color: bisque;
  color: black;
  border-radius: 5px;
}

/*login page*/
.checkbox-login label {
  margin-bottom: 1rem;
}

.checkbox-login > input{
  margin-bottom: 1rem;
  width: 4rem;
  color: white;
}

.sing-up {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.sing-up p {
  color: white;
  font-size: large;
}

.sing-up a {
  margin-top: 0.2rem;
  font-weight: bolder;
  color: orange;
  text-decoration: none;
}

/* media queries */
@media screen and (max-width:1000px) {
  header {
    height: unset;
  }

  .navbar-toggler {
    margin: 5px 0;
    color: orange;
  }

  .search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0;
  }

  .card-body-details {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }
    
  .card-img > img {
    width: 90%;
    height: 80%;
  }
}

@media screen and (max-width:800px) {
  .search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .card {
    width: 90vw;
    height: 90vh;
    margin: 2px;
    align-items: center;
  }

  .card-body {
    text-align: center;
  }

  .card-text {
    height: 45%;
  }

  .card > img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

  .cardFooter {
    width: 90%;
  }

  .cards-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
    
  .card-details {
    flex-direction: column;
    align-items: center;
  }

  .card-img > img {
    width: 20%;
    height: 100%;
  }

  .card-body-details {
    width: 90vw;
    font-size: 0.9rem;
  }
}
